.avatar{
    position: relative;
    height: 250px;
    margin-top: -226px;
    z-index: 2;
    width: 250px;
    background-color: green;
}

.avatar-stoke{
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    margin: 0 0 0 24px;
    background-color: rgba(0, 0, 0, 0.42);
}
