.cover-first{
  background-image: url('./images/cover-first.jpg');
  background-position: 50% 100%;
  object-fit: cover;
  display: block;
  vertical-align: middle;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 500px;
}

.head-title{
  margin-top: -250px;
}

.head-content{
  margin-top: -100px;
}

@media only screen and (max-width: 768px) {
  .head-title{
    background-color: rgb(42, 47, 51);
    margin-top: 0;
  }
  
  .head-content{
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
